<ngx-spinner size="default" type="ball-spin-clockwise"><p>{{ 'Please wait...' | translate }} </p></ngx-spinner>
<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-lg-8 mx-auto">
        <div class="card mt-4">
          <div class="card-body">
            <!-- Operator or GPP Operator -->
            <!-- Information -->
            <h1 class="mt-4" *ngIf="userType != 'user'">{{'Document Wallet - Insert Token' | translate }}</h1>
            <p *ngIf="userType != 'user'">{{ 'Enter the token you obtained from the user to view the documentation.' | translate }}</p>
            <p *ngIf="userType != 'user'">{{ 'The token lasts 30 minutes. Once it expires, it is necessary to ask the user for another token.' | translate }}</p>
            <h4 class="text-uppercase" *ngIf="userType != 'user'">{{ 'Please insert the token to check the documents wallet' | translate }}</h4>
            <!-- Form -->
            <form #form="ngForm" (ngSubmit)="checkToken()" *ngIf="userType != 'user'">
              <!-- Token -->
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="token" [(ngModel)]="formData.token"  placeholder="{{ 'Insert the token' | translate }}" required>

                <!-- Check button -->
                <div class="input-group-append">
                  <button class="btn btn-primary rounded-0" type="submit">{{ 'Check' | translate }}</button>
                </div>
              </div>
            </form>
            <!-- User -->
            <h1 class="mt-4" *ngIf="userType == 'user'">{{'Document Wallet - Generate Token' | translate }}</h1>
            <p *ngIf="userType == 'user'">{{ 'The token lasts 30 minutes. Once it expires, it is necessary to generate another token.' | translate }}</p>

            <!-- Search form -->
            <form #form="ngForm" (ngSubmit)="filterDocuments()" *ngIf="userType == 'user'">
              <div class="input-group mb-3">
                  <input type="text" (keyup)="filterDocuments()" class="form-control" name="search" [(ngModel)]="formSearch.search"  placeholder="{{ 'Enter a search term' | translate }}" required>
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded-0" type="submit">{{ 'Search' | translate }}</button>
                  </div>
              </div>
            </form>

            <form #form="ngForm" (ngSubmit)="generateToken()" *ngIf="userType == 'user'">
              <button class="btn btn-primary rounded-0 generate-token" type="submit">{{ 'Generate Token' | translate }}</button>
            </form>
            <!-- Table documents -->
            <div class="table-responsive" *ngIf="userType == 'user'">
            <table class="table table-hover" *ngIf='filteredDocuments.length'>
              <thead>
                <th>{{ 'Document' | translate }}</th>
                <th>{{ 'Size' | translate }}</th>
                <th></th>
              </thead>
              <tbody>
                <tr class="pointer" *ngFor="let document of filteredDocuments">
                  <td><label class="checkbox-container"><input type="checkbox" class="form-checkbox" [(ngModel)]="document.isChecked" (change)="changeSelection()"> <i class='fa fa-file-{{document.fileType}}-o'></i> {{document.title}}</label></td>
                  <td>{{document.size}} MB</td>
                  <td class="download-column"><button class="btn btn-secondary rounded-0" (click)="openDocument(document.idDocument, document.mimeType, document.title)">Download</button></td>
                </tr>
              </tbody>
            </table>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal info message -->
<div bsModal #modalInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInfoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ '30-Minutes Token Generated' | translate }}</h4>
        <button type="button" class="close" (click)="modalInfo.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">{{ 'Your Token has been generated successfully' | translate }}</p>
        <h3 class="text-center">{{ 'Token' | translate }}: <strong>{{generated_token}}</strong></h3>
        <p class="text-center">{{ 'Communicate this token only to trusted people.' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalInfo.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal entering data error -->
<div bsModal #modalError="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ messageError.title }}</h4>
              <button type="button" class="close" (click)="modalError.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>{{ messageError.description }}</p>
              <ul>
                  <li *ngFor="let errorDescription of errorsDescriptions">{{ errorDescription }}</li>
              </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalError.hide()">{{ 'Close' | translate }}</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
