<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-lg-8 mx-auto">
        <div class="card mt-4">
          <div class="card-body">
<h1 class="mt-4">{{'Document Wallet - Insert Token' | translate }}</h1>
<p>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id convallis risus. Nunc tristique nunc id porttitor sagittis. Etiam sed mollis
  nulla, ac eleifend mi. Morbi vel felis at orci cursus viverra ac sit amet arcu. Sed fermentum urna ante, vel hendrerit nulla volutpat vel. Sed
  suscipit mauris augue, vel semper erat fringilla quis. Integer placerat turpis id mattis interdum. Donec lobortis ligula et sapien laoreet, ut
  faucibus sem rutrum. Cras mattis, risus sed fermentum semper, felis ipsum blandit velit, a lacinia purus ex sit amet odio.' | translate }}
</p>    
<p>{{'Vivamus enim mauris, ullamcorper efficitur justo eget, semper luctus metus. Nunc a accumsan risus, vitae mattis dui. Nullam a augue sed
  quam maximus elementum. Praesent facilisis vulputate diam a sodales. Nullam quis leo pretium, euismod lectus eget, hendrerit turpis. In
  hac habitasse platea dictumst. Suspendisse egestas magna vitae velit aliquet, sit amet rhoncus diam faucibus. Integer rutrum lacinia
  placerat. Fusce eu arcu et nisi ultrices egestas vulputate ac lectus.' | translate }}</p>

    <h3 class="text-uppercase">{{ 'PLEASE INSERT THE TOKEN TO CHECK THE DOCUMENTS WALLET' | translate }}</h3>
    <form #form="ngForm" (ngSubmit)="doCheck()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="token" [(ngModel)]="formData.token"  placeholder="{{ 'Insert the token' | translate }}" required>
                <div class="input-group-append">
                  <button class="btn btn-primary rounded-0" type="submit">{{ 'Check' | translate }}</button>
                </div>            
            </div>       
    </form>
  </div>
</div>    
      </div>
    </div> 
</div>   