<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Information -->
          <h1 class="mt-4">{{ 'Operators - List' | translate }}</h1>
          <p *ngIf="this.permissions.includes('OrganizationUsersManagement')">{{ 'In this section it is possible to manage the profiles of the operators of your organization.' | translate }}</p>
          <p *ngIf="this.permissions.includes('OrganizationUsersManagement')">{{ 'Click on \'Invite Operator\' to invite an operator in the current organization, or select the operator from the list to modify the authorizations.' | translate }}</p>

          <p *ngIf="this.permissions.includes('GeneralUsersManagement')">{{ 'In this section it is possible to manager the operators registered through the portal.' | translate }}</p>
          <p *ngIf="this.permissions.includes('GeneralUsersManagement')">{{ 'Click on \'Invite Operator\' to invite an operator of the Global Passport Project team, or select the operator from the list to remove him/her.' | translate }}</p>

          <!-- Search form -->
          <form #form="ngForm">
            <div class="input-group mb-3">
                <input type="text" (keyup)="filterOperators()" class="form-control" name="search" [(ngModel)]="formSearch.search"  placeholder="{{ 'Enter a search term' | translate }}" required>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">{{ 'Search' | translate }}</button>
                </div>
                <button class="btn btn-primary rounded-0 ml-3" type="button" [routerLink]="['/operator-invite']">{{ 'Invite Operator' | translate }}</button>
            </div>
          </form>

          <!-- Operators list -->
          <div class="table-responsive">
            <table class="table table-hover" *ngIf='filteredOperators.length'>
              <thead>
                <th>{{ 'Last name' | translate }}</th>
                <th>{{ 'First name' | translate }}</th>
                <th>{{ 'Email' | translate }}</th>
                <th *ngIf="userType != 'gppOperator'">{{ 'Access level' | translate }}</th>
              </thead>
              <tbody>
                <tr class="pointer" *ngFor="let operator of filteredOperators" (click)="operatorDetails(operator.idUser)">
                  <td>{{operator.lastName}}</td>
                  <td>{{operator.firstName}}</td>
                  <td>{{operator.email}}</td>
                  <td *ngIf="userType != 'gppOperator'">
                    <span *ngFor="let level of operator.organizationUser; index as i"><span *ngIf="i > 0"> + </span>{{levels[level.permissions]}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Alert no organization selected -->
          <div *ngIf="this.idOrganization==='' && this.permissions.includes('OrganizationUsersManagement')" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ 'Select or create a new organization before using this section.' | translate }}</strong>
          </div>
        </div>

        <!-- Under costruction alert -->
        <!--<div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ 'Attention! This section is under construction, hence is not working.' | translate }}</strong>
        </div>-->
      </div>
    </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
