<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <form  #form="ngForm" (ngSubmit)="doChange_password()">
          <h1 class="mt-4">{{ 'Change Password' | translate }}</h1>
          <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id convallis risus. Nunc tristique nunc id porttitor sagittis. Etiam sed mollis nulla, ac eleifend mi.' | translate }}</p> 
          <div class="form-group mt-3">
                  <label>{{ 'Current password' | translate }}</label>
                <div class="input-group mb-3">  
                  <input type="password" name="password" [(ngModel)]="formData.password" id="password" class="form-control" placeholder="{{ 'Insert your current password' | translate }}" required>
                </div>
          </div>
          <div class="form-group">
            <label>{{ 'New password' | translate }}</label>
            <div class="input-group mb-3">  
              <input type="password" name="password_new" [(ngModel)]="formData.password_new" id="password_new" class="form-control" placeholder="{{ 'Insert your new password' | translate }}" required>
            </div>
          </div>

          <div class="form-group">
            <label>{{ 'Confirm new password' | translate }}</label>
            <div class="input-group mb-3">  
              <input type="password" name="password_new_confirm" [(ngModel)]="formData.password_new_confirm" id="password_new_confirm" placeholder="{{ 'Confirm your new password' | translate }}" class="form-control" required>
            </div>
          </div>        
          
         <div class="row">  
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-primary rounded-0">{{ 'CHANGE PASSWORD' | translate}}</button>
          </div>
        </div>
        </form>           
        </div>
      </div>
    </div>      
  </div>
</div> 