<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Information -->
          <h1 class="mt-4">{{ 'Change Password' | translate }}</h1>
          <p>{{ 'In this section you can modify the authentication password.' | translate }}</p>
          <p>{{ 'Enter the current password, the new password and confirm the new password.' | translate }}</p>

          <!-- Form -->
          <form  #form="ngForm" (ngSubmit)="changePassword()">
            <!-- Current password -->
            <div class="form-group mt-3">
              <label>{{ 'Current password' | translate }}</label>
              <div class="input-group mb-3">  
                <input type="currentPassword" name="currentPassword" [(ngModel)]="formData.currentPassword" id="currentPassword" class="form-control" placeholder="{{ 'Insert your current password' | translate }}" required>
              </div>
            </div>

            <!-- New password -->
            <div class="form-group">
              <label>{{ 'New password' | translate }}</label>
              <div class="input-group mb-3">  
                <input type="newPassword" name="newPassword" [(ngModel)]="formData.newPassword" id="newPassword" class="form-control" placeholder="{{ 'Insert your new password' | translate }}" required>
              </div>
            </div>

            <!-- Confirm new password -->
            <div class="form-group">
              <label>{{ 'Confirm new password' | translate }}</label>
              <div class="input-group mb-3">  
                <input type="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="formData.confirmNewPassword" id="confirmNewPassword" placeholder="{{ 'Confirm your new password' | translate }}" class="form-control" required>
              </div>
            </div>        
          
            <!-- Change password button -->
            <div class="row">  
              <div class="col-12 text-right">
                <button type="submit" class="btn btn-primary rounded-0">{{ 'Change Password' | translate}}</button>
              </div>
            </div>
          </form>        
        </div>

        <!-- Under costruction alert -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ 'Attention! This section is under construction, hence is not working.' | translate }}</strong>
        </div>
      </div>
    </div>      
  </div>
</div> 