<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark text-white">
  <!-- Global Password Project -->
  <a class="navbar-brand" href="#"><h3>Global Passport Project</h3></a>

  <!-- Navbar toggler-->
  <button class="navbar-toggler" type="button" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <!-- Wallet -->
      <li class="nav-item" *ngIf="userMe.userType == 'user'">
        <a class="nav-link" [routerLink]="['/wallet']" (click)="toggleNavbar()">{{ 'Generate Token' | translate }}</a>
      </li>

      <!-- Wallet -->
      <li class="nav-item" *ngIf="userMe.permissions.includes('CheckTokenDocWallet')">
        <a class="nav-link" [routerLink]="['/wallet']" (click)="toggleNavbar()">{{ 'Wallet' | translate }}</a>
      </li>

      <!-- Operators -->
      <li class="nav-item" *ngIf="userMe.permissions.includes('GeneralUsersManagement') || userMe.permissions.includes('OrganizationUsersManagement')">
        <a class="nav-link" [routerLink]="['/operators']" (click)="toggleNavbar()">{{ 'Operators' | translate }}</a>
      </li>

      <!-- Structures -->
      <li class="nav-item" *ngIf="userMe.permissions.includes('GeneralStructuresManagement') || userMe.permissions.includes('OrganizationStructuresManagement')">
        <a class="nav-link" [routerLink]="['/structures']" (click)="toggleNavbar()">{{ 'Structures' | translate }}</a>
      </li>

      <!-- Countries -->
      <li class="nav-item" *ngIf="userMe.permissions.includes('GeneralCountriesManagement')">
        <a class="nav-link" [routerLink]="['/countries']" (click)="toggleNavbar()">{{ 'Countries' | translate }}</a>
      </li>

      <!-- Categories -->
      <li class="nav-item" *ngIf="userMe.permissions.includes('GeneralCategoriesManagement')">
        <a class="nav-link" [routerLink]="['/categories']" (click)="toggleNavbar()">{{ 'Categories' | translate }}</a>
      </li>

      <!-- Icons -->
      <li class="nav-item" *ngIf="userMe.permissions.includes('GeneralIconsManagement')">
        <a class="nav-link" [routerLink]="['/icons']" (click)="toggleNavbar()">{{ 'Icons' | translate }}</a>
      </li>

      <!-- Nationalities -->
      <li class="nav-item" *ngIf="userMe.permissions.includes('GeneralNationalitiesManagement')">
        <a class="nav-link" [routerLink]="['/nationalities']" (click)="toggleNavbar()">{{ 'Nationalities' | translate }}</a>
      </li>

      <!-- AbuseAlarm -->
      <li class="nav-item" *ngIf="userMe.userType == 'gppOperator'">
        <a class="nav-link" [routerLink]="['/abusealarms']" (click)="toggleNavbar()">{{ 'AbuseAlarms' | translate }}</a>
      </li>
      <!-- News&Stories -->
      <li class="nav-item" *ngIf="userMe.userType == 'gppOperator'">
        <a class="nav-link" [routerLink]="['/news-stories']" (click)="toggleNavbar()">{{ 'News & Stories' | translate }}</a>
      </li>

    </ul>

    <ul class="nav navbar-nav ml-auto">
      <!-- Organizations -->
      <li class="nav-item dropdown mr-2" dropdown *ngIf="organizations.length">
        <a class="nav-link nav-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
          <i class="fa fa-cog"></i> {{ defaultOrganization }}
        </a>
        <div *ngIf="organizations.length">
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
            <a *ngFor="let organization of organizations" class="dropdown-item btn pointer" role="button" (click)="switchOrganization(organization.idOrganization)">{{organization.name}}</a>
          </div>
        </div>
      </li>

      <!-- Create organization -->
      <li class="nav-item mr-2" *ngIf="!organizations.length && userMe.userType != 'user'">
        <a *ngIf="userMe.userType != 'gppOperator'" class="nav-link btn pointer" role="button" (click)="createOrganization()"><i class="fa fa-cog"></i> {{ 'Create Organization' | translate }}</a>
        <a *ngIf="userMe.userType == 'gppOperator'" class="nav-link btn" >{{ 'Global Passport Operator' | translate }}</a>
      </li>

      <!-- Profile -->
      <li class="nav-item dropdown mr-2 text-center" dropdown>
        <a class="nav-link nav-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
          <i class="fa fa-user"></i> {{userMe.name}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <a *ngIf="userMe.permissions.indexOf('ProfileEdit') !== -1" class="dropdown-item" [routerLink]="['/my-profile']" (click)="toggleNavbar()">{{ 'My Profile' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/change-password']" (click)="toggleNavbar()">{{ 'Change Password' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/logout']" (click)="toggleNavbar()">{{ 'Logout' | translate }}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Container -->
<div class="app-body">
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-dark text-white">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase" style="float:left; margin-right:10px;"><img src="assets/img/white-logo.png"></h5>
        <p>
          {{ 'Global Passport Project is a breakthrough initiative that leverages on decentralized technology to support mixed migrants along their journey,' | translate }}
          {{ 'protect their privacy while reporting human rights violations, and engage them as citizens integrating in their new communities.' }}
        </p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-5 border-left mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/feedback']">{{ 'Feedback' | translate }}</a>
          </li>
          <li>
            <a href="https://www.globalpassportproject.org" target="_blank">{{ 'The Project' | translate }}</a>
          </li>
          <li>
            <a href="https://www.kosmopolis.me" target="_blank">Kosmopolis</a>
          </li>
          <li>
            <a [routerLink]="['/privacy-policy']">{{ 'Privacy Policy' | translate }}</a>
          </li>
          <li>
            <a [routerLink]="['/terms-conditions']">{{ 'Terms and Conditions' | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 border-left mb-md-0 mb-3">
        <h5 class="text-uppercase">{{ 'Language' | translate }}</h5>
        <app-langswitch></app-langswitch>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3"><span><a href="#">Global Passport Project</a> &copy; 2020 - All Rights Reserved</span></div>
</footer>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
