<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <a [routerLink]="['/nationalities']"><i class="fa fa-chevron-left"></i> {{ 'Back to the nationalities list' | translate }}</a>
          <form  #form="ngForm" (ngSubmit)="doSave()">
          <h1 class="mt-4"><span *ngIf="uuid">{{ 'Nationalities - Edit' | translate }}</span><span *ngIf="!uuid">{{ 'Nationalities - Add' | translate }}</span></h1>
          <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id convallis risus. Nunc tristique nunc id porttitor sagittis. Etiam sed mollis nulla, ac eleifend mi.' | translate }}</p>

          <div class="form-group mt-3">
          <label>{{ 'Identifier' | translate }}</label>
           <div class="input-group mb-3">
            <input type="text" name="identifier" [(ngModel)]="formData.identifier" id="identifier" class="form-control" placeholder="{{'Enter the identifier' | translate }}" required>
           </div>
          </div>

<div class="row">
  <div class="col-md-12">

      <div dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()" style="position:relative"><small>
        <a href dropdownToggle (click)="false">{{ 'Change language' | translate }}</a>
        <ul *dropdownMenu class="dropdown-menu">
          <li *ngFor="let language of languages">
            <a class="dropdown-item btn pointer" role="button"  (click)="doSwitchTextarea(language.value)">{{language.name}}</a>
          </li>
        </ul></small>
      </div>
      <div class="form-group">
        <div *ngFor="let language of languages; let i = index">
        <label [hidden]="current_language != language.value">{{ 'Name in '+language.name | translate }}</label>
        <div class="input-group mb-3" [hidden]="current_language != language.value">
          <input name="title[{{language.value}}]" [(ngModel)]="formData.title[language.value]" class="form-control" placeholder="{{'Enter the name' | translate }}">
        </div>
        </div>
      </div>
  </div>
</div>


         <div class="row">
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-primary rounded-0">{{ 'SAVE' | translate}}</button>
          </div>
        </div>

        <div class="row mt-3" *ngIf="uuid">
          <div class="col-12 text-right">
            <button type="button" class="btn btn-danger rounded-0" (click)="doDelete(uuid)">{{ 'DELETE' | translate}}</button>
          </div>
        </div>


        </form>
        </div>
      </div>
    </div>
  </div>
</div>
