<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-lg-8 mx-auto">
        <div class="card mt-4">
          <div class="card-body">
            <!-- Back link -->
            <a *ngIf="userType != 'user'" [routerLink]="['/wallet']"><i class="fa fa-chevron-left"></i> {{ 'Back to insert token' | translate }}</a>

            <!-- Information -->
            <h1 *ngIf="userType != 'user'" class="mt-4">{{ 'Document Wallet - List' | translate }}</h1>
            <h1 *ngIf="userType == 'user'" class="mt-4">{{ 'My Documents - List' | translate }}</h1>

            <!-- Search form -->
            <form #form="ngForm" (ngSubmit)="filterDocuments()">
              <div class="input-group mb-3">
                  <input type="text" (keyup)="filterDocuments()" class="form-control" name="search" [(ngModel)]="formSearch.search"  placeholder="{{ 'Enter a search term' | translate }}" required>
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded-0" type="submit">{{ 'Search' | translate }}</button>
                  </div>
              </div>
            </form>

            <!-- Table documents -->
            <div class="table-responsive">
            <table class="table table-hover" *ngIf='filteredDocuments.length'>
              <thead>
                <th>{{ 'Document' | translate }}</th>
                <th>{{ 'Size' | translate }}</th>
              </thead>
              <tbody>
                <tr class="pointer" *ngFor="let document of filteredDocuments" (click)="openDocument(document.idDocument)">
                  <td><i class='fa fa-file-{{document.mimeType}}-o'></i> {{document.title}}</td>
                  <td>{{document.size}} MB</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
