<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Back link -->
          <a [routerLink]="['/operators']"><i class="fa fa-chevron-left"></i> {{ 'Back to the operators list' | translate }}</a>

          <!-- Information -->
          <h1 class="mt-4">{{ 'Operators - Invite Operator' | translate }}</h1>
          <p>{{ 'In this section it is possible to invite an operator to join the organization. Select the operation, indicate the authorizations and write invitation message.' | translate }}</p>
          <form #Searchform="ngForm">
            <!-- Select operator -->
            <div class="form-group mt-3">
              <label>{{ 'Search the operator to invite' | translate }}</label>
              <div class="input-group mb-3" id="searchFormContainer">
                <input type="text" autocomplete="off" name="findOperator" (keyup)="searchOperator($event)" [(ngModel)]="formSearch.findOperator" id="findOperator" class="form-control" placeholder="{{'Search the operator to invite' | translate }}" required>
                <div class="results" *ngIf="results.length">
                  <ul>
                    <li class="search-result" *ngFor="let result of results" (click)="selectOperator('<' + result.email + '> ' + result.lastName + ' ' + result.firstName)"><{{result.email}}> {{result.lastName+' '+result.firstName}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <!--<div class="row" *ngIf="isSearching">
              <div class="col-12 text-center">
                <h4>Searching ... </h4>
              </div>
            </div>-->
          <!--<div>Match: {{string_match}}</div>
          <div>idUser: {{idUser}}</div>
          <div>permissions: {{permissions}}</div>-->
          </form>

          <!-- Form -->
          <form  #form="ngForm" (ngSubmit)="inviteOperator()">
            <!-- Invitation text -->
            <div class="form-group">
              <label>{{ 'Enter the invitation text' | translate }}</label>
              <div class="input-group mb-3">
                <textarea name="text" [(ngModel)]="formData.textInvitation" id="text" class="form-control" placeholder="{{'Enter the invitation text' | translate }}" rows="3" required></textarea>
              </div>
            </div>

            <!-- Permissions -->
            <div class="form-group">
              <label>
                <input type="checkbox" name="check_admin" [(ngModel)]="permission_OrganizationAdministrator" value="OrganizationAdministrator" [checked]="permission_OrganizationAdministrator" (change)="setValue('OrganizationAdministrator')">
                {{ 'Administrator (can manage structures, operators and document wallet)' | translate }}
              </label>
              <br />
              <!--<label>
                <input type="checkbox" name="check_wallet" value="wallet">
                {{ 'Wallet (can manage document wallet)' | translate }}
              </label>
              <br />-->
              <label>
                <input type="checkbox" name="check_operators" [(ngModel)]="permission_OrganizationUsersManagement" value="OrganizationUsersManagement" [checked]="permission_OrganizationUsersManagement" (change)="setValue('OrganizationUsersManagement')">
                {{ 'Operators (can manage operators)' | translate }}
              </label>
              <br />
              <label>
                <input type="checkbox" name="check_structures" [(ngModel)]="permission_OrganizationStructuresManagement"  value="OrganizationStructuresManagement" [checked]="permission_OrganizationStructuresManagement" (change)="setValue('OrganizationStructuresManagement')">
                {{ 'Structures (can manage structures)' | translate }}
              </label>
            </div>

            <!-- Invite button -->
            <div class="row">
              <div class="col-6 text-left">
                <button type="submit" class="btn btn-primary rounded-0">{{ 'Invite' | translate}}</button>
              </div>
            </div>
          </form>
        </div>

        <!-- Under costruction alert -->
        <!--<div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ 'Attention! This section is under construction, hence is not working.' | translate }}</strong>
        </div>-->
      </div>
    </div>
  </div>
</div>

<!-- Modal info message -->
<div bsModal #modalInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInfoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Structure saved' | translate }}</h4>
        <button type="button" class="close" (click)="modalInfo.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'The information has been saved.' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalInfo.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal entering data error -->
<div bsModal #modalError="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ messageError.title }}</h4>
              <button type="button" class="close" (click)="modalError.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>{{ messageError.description }}</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalError.hide()">{{ 'Close' | translate }}</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
