<ngx-spinner size="default" type="ball-spin-clockwise"><p>{{ 'Please wait...' | translate }} </p></ngx-spinner>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body text-center">
                <!-- Information -->
                <a [routerLink]="['/']"><img src="assets/img/logo.png" /></a>
                <h1>{{ 'Reset Password' | translate }}</h1>
                <p class="text-muted">{{ 'Insert and confirm New Password' | translate }}</p>

                <!-- Form -->
                <form  #form="ngForm" (ngSubmit)="requestResetPassword()" *ngIf="submitted == false">

                  <div class="input-group mb-3">
                    <input type="password" name="newPassword" [(ngModel)]="formData.newPassword" id="newPassword" class="form-control" placeholder="{{ 'Insert your new password' | translate }}" required maxlength="150">
                  </div>

                  <div class="input-group mb-3">
                    <input type="password" name="confirmNewPassword" [(ngModel)]="formData.confirmNewPassword" id="confirmNewPassword" placeholder="{{ 'Confirm your new password' | translate }}" class="form-control" required maxlength="150">
                  </div>

                  <!-- Confirm button -->
                  <div class="row">
                    <div class="col-12">
                      <button type="submit" [disabled]="form.invalid" class="btn btn-primary rounded-0 px-4">{{ 'Reset Password' | translate}}</button>
                    </div>
                  </div>

                  <!-- Under costruction alert
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ 'Attention! This section is under construction, hence is not working.' | translate }}</strong>
                  </div>
                  -->
                </form>

                <h3 *ngIf='this.messageException.status!==0'><br>{{this.messageException.statusText}}</h3>
                <div *ngIf='this.messageException.status!==0' [class]="'alert alert-'+ alert_class + ' fade show'" role="alert">
                  <strong>{{this.messageException.message}}</strong>
                </div>

                <div class="row" *ngIf='this.messageException.status==201 || this.messageException.status==202'>
                  <div class="col-12 text-center">
                    <button type="button" class="btn btn-primary rounded-0 px-4" [routerLink]="['/sign-in']">{{ 'Sign in' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
