<ngx-spinner size="default" type="ball-spin-clockwise"><p>{{ 'Please wait...' | translate }} </p></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Information -->
          <h1 class="mt-4">{{ 'My Profile' | translate }}</h1>
          <p>{{ 'In questa sezione è possibile modificare le informazioni personali.' | translate }}</p>

          <!-- Form -->
          <form #form="ngForm" (ngSubmit)="saveProfile()">
            <!-- First name -->
            <div class="form-group mt-3">
              <label>{{ 'First name' | translate }}</label>
              <div class="input-group mb-3">
                <input type="text" name="firstName" [(ngModel)]="formData.firstName" id="firstName" class="form-control" required maxlength="50">
              </div>
            </div>

            <!-- Last name -->
            <div class="form-group">
              <label>{{ 'Last name' | translate }}</label>
              <div class="input-group mb-3">
                <input type="text" name="lastName" [(ngModel)]="formData.lastName" id="lastName" class="form-control" required maxlength="50">
              </div>
            </div>

            <!-- Birth date -->
            <div class="form-group">
              <label>{{ 'Birth Date' | translate }}</label>
              <div class="input-group mb-3 small-field">
                <input type="date" name="birthday" [(ngModel)]="formData.birthday" id="birthday" class="form-control" maxlength="10">
              </div>
            </div>
            
            <!-- Gender -->
            <div class="form-group">
              <label>{{ 'Gender' | translate }}</label>
              <div class="input-group mb-3 small-field">
                <select name="gender" [(ngModel)]="formData.gender" id="gender" class="form-control">
                  <option [ngValue]="null">{{ 'Select Gender' | translate }}</option>
                  <option value="Male">{{ 'Male' | translate }}</option>
                  <option value="Female">{{ 'Female' | translate }}</option>
                  <option value="Not Specified">{{ 'Not Specified' | translate }}</option>
                </select>
              </div>
            </div>

            <!-- Nationality -->
            <div class="form-group">
              <label>{{ 'Nationality' | translate }}</label>
              <div class="input-group mb-3 small-field">
                <select name="idNationality" [(ngModel)]="formData.idNationality" id="idNationality" class="form-control">
                  <option [ngValue]="null">{{ 'Select Nationality' | translate }}</option>
                  <option *ngFor="let n of nationality_options" [value]="n.idNationality">{{n.identifier}}</option>
                </select>
              </div>
            </div>

            <!-- Save button -->
            <div class="row">
              <div class="col-12 text-right">
                <button type="submit" class="btn btn-primary rounded-0">{{ 'Save' | translate}}</button>
              </div>
            </div>

            <!-- Remove from current team and delete all my data buttons -->
            <div class="row mt-3">
              <div class="col-6 text-left">
                <button *ngIf="userType != 'user'" type="button" class="btn btn-danger rounded-0" (click)="removeOperatorFromTeam()">{{ 'REMOVE FROM CURRENT TEAM' | translate}}</button>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-danger rounded-0" (click)="askDelete()">{{ 'DELETE ALL MY DATA' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal info message -->
<div bsModal #modalInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInfoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Congratulations!' | translate }}</h4>
        <button type="button" class="close" (click)="modalInfo.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Profile updated successfully' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalInfo.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal entering data error -->
<div bsModal #modalError="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ messageError.title }}</h4>
              <button type="button" class="close" (click)="modalError.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>{{ messageError.description }}</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalError.hide()">{{ 'Close' | translate }}</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete All Data -->
<div bsModal #modalDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Delete all your data' | translate }}</h4>
        <button type="button" class="close" (click)="modalDelete.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Are you sure you want to DELETE ALL YOUR DATA?' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="removeAllData()">{{ 'Delete' | translate }}</button>
        <button type="button" class="btn btn-secondary" (click)="modalDelete.hide()">{{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>
