<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body text-center">
                  <form  #form="ngForm" (ngSubmit)="doConfirm()">
                    <h1>{{'Forgot Password?' | translate }}</h1>
                    <section *ngIf='response.exit != 1000'> 
                    <p class="text-muted">{{ 'Fill the form below to continue' | translate }}</p>
                    <div class="bg-danger m-3" *ngIf='response.exit > 1000'>{{response.error}}</div>
                    <div class="input-group mb-3">
                      <input type="email" class="form-control" name="email" [(ngModel)]="formData.email"  placeholder="{{ 'Email' | translate }}" autocomplete="email" required>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button type="submit" [disabled]="form.invalid" class="btn btn-primary rounded-0 px-4">{{ 'Confirm' | translate }}</button>
                      </div>
                    </div>
                    </section>
                    <section *ngIf='response.exit == 1000'>
                      <div class="bg-success">{{response.success}}</div>
                    </section>                    
                    <div class="row">  
                      <div class="col-6 text-left">
                        <button type="button" class="btn btn-link px-0" [routerLink]="['/sign-on']">{{ 'Sign on' | translate }}</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0" [routerLink]="['/sign-in']">{{ 'Sign in' | translate }}</button>
                      </div>                    
                    </div>
                  </form>
                  <app-langswitch></app-langswitch>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
