<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body text-center">
                  <!-- Information -->
                  <h1>{{ 'Forgot Password?' | translate }}</h1>
                  <p class="text-muted">{{ 'Enter your e-mail address to recover your password.' | translate }}</p>

                  <!-- Form -->
                  <form  #form="ngForm" (ngSubmit)="requestChangePassword()">
                    <!-- E-Mail -->
                    <div class="input-group mb-3">
                      <input type="email" class="form-control" name="email" [(ngModel)]="formData.email"  placeholder="{{ 'Email' | translate }}" autocomplete="email" required>
                    </div>

                    <!-- Confirm button -->
                    <div class="row">
                      <div class="col-12">
                        <button type="submit" [disabled]="form.invalid" class="btn btn-primary rounded-0 px-4">{{ 'Confirm' | translate }}</button>
                      </div>
                    </div>
                    
                    <!-- Sign on and sign in links -->
                    <div class="row">  
                      <div class="col-6 text-left">
                        <button type="button" class="btn btn-link px-0" [routerLink]="['/sign-on']">{{ 'Sign on' | translate }}</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0" [routerLink]="['/sign-in']">{{ 'Sign in' | translate }}</button>
                      </div>                    
                    </div>

                    <!-- Under costruction alert -->
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>{{ 'Attention! This section is under construction, hence is not working.' | translate }}</strong>
                    </div>
                  </form>
                  <app-langswitch></app-langswitch>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
