<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="mt-4">{{ 'Terms and Conditions' | translate }}</h1>

          <p>Please read carefully before registration and use. </p>
          <p>&nbsp;</p>
          <p>Through its DocWallet function, the app “Global Passport Project” allows to safely store documents on Blockchain and IPFS. Data are encrypted with a private key solely available on the device. Only the user can decrypt the documents.  The user can also select one or more documents and generate a temporary token that allows authorized external operators to view them.</p>
          <p>&nbsp;</p>
          <p>In addition, the app allows to access an interactive map showing solidarity structures and services for migrants and refugees. The structures can be searched by category or by sharing the GPS location of the device to identify the closest facilities.</p>
          <p>&nbsp;</p>
          <p>By accessing the app and using its functions on any smartphone, tablet or other device, the user confirms to have read and accepted the Terms and Conditions of Use of the app “Global Passport Project”.</p>
          <p>&nbsp;</p>
          <p><strong>OWNER.</strong> The app Global Passport Project (GPP) is owned and managed by Associazione Kosmopolis, via Francesco Saverio Correra 127, 80135 Napoli (NA), cod. 95270880636 and is available for free for smartphones and tablets.</p>
          <p>&nbsp;</p>
          <p><strong>USER RESTRICTIONS AND ACCESS.</strong> The app is for personal use only. The app requires users to register and create a personal account. It is necessary to have an internet or mobile connection. The costs for the connection are those indicated in the service contract subscribed by the user, according to the fees applied by the internet provider.</p>
          <p>&nbsp;</p>
          <p><strong>MINIMUM FUNCTIONAL REQUIREMENTS.</strong> The minimum functional requirements for the device to install and use the app Global Passport Project are listed here below:</p>
          <ul>
          <li>mobile operating system: iOS, Android</li>
          <li>hardware characteristics:
          <ul>
          <li>for iOS: 9 or newer; iPhone/iPad/IPod touch</li>
          <li>for Android: 4.0 or newer.</li>
          </ul>
          </li>
          </ul>
          <p><strong>HOW TO SIGN UP.</strong> Registration is free. The user has to sign in with his/her name, surname, contact email and password. By clicking the confirmation link on the email address provided, the user will be allowed to access the services of the app. The access credentials will be kept by the user. Lost or forgotten passwords or access keys can be restored through the password reset procedure of the app.</p>
          <p>&nbsp;</p>
          <p><strong>FUNCTIONS OF GLOBAL PASSPORT PROJECT.</strong>: the functions of Global Passport Project are the following:</p>
          <ul>
          <li>DocWallet: the user can take pictures of his/her personal documents (or select them from the library of his/her device) and upload them on the Blockchain and IPFS. The documents are encrypted through a private key solely available on the device. Only the user can download and view the documents through the private key on his/her device. The user can select one or more documents, generate a token and share it with an authorized external operator to allow him/her to view these documents.</li>
          <li>AroundMe: the user can access a map showing all the solidarity structures and services for migrants and refugees. The search can be done by category. By sharing the GSP location of the device, it is possible to view and sort the structures by proximity. In addition, this section offers updated and useful information on the selected country.</li>
          </ul>
          <p><strong>MAIN INTERFACES OF GLOBAL PASSPORT PROJECT.&nbsp;</strong> The main interfaces of Global Passport Project are the following</p>
          <ul>
          <li>LOGIN: page to log into the app;</li>
          <li>SIGN UP: page to register;</li>
          <li>LOST PASSWORD: page to reset the user’s password;</li>
          <li>HOMEPAGE: page view upon authentication to access the app’s functions;</li>
          <li>DOCWALLET: page to manage documents and generate tokens to share them with authorized external operators;</li>
          <li>AROUNDME: page to access the map of the solidarity structures and services for migrants and refugees, as well as relevant information on the selected country;</li>
          <li>PROFILE: page to access the user’s profile and change the user’s personal information;</li>
          <li>CHANGE PASSWORD: page to change the password;</li>
          <li>SETTINGS: page to change the language of the app.</li>
          </ul>
          <p><strong>SOFTWARE INFRASTRUCTURE AND DATA STORAGE.</strong> The software infrastructure and data are resident in a server managed by Associazione Kosmopolis, property of DigitalOcean, LLC. Some data (e.g. users’ documents, some profile information) are not saved in the server, but on the Blockchain and IPFS. </p>
          <p>&nbsp;</p>
          <p><strong>ACCEPTABLE USE POLICY.</strong> The user can access any part of the app based on his/her user level and based on what stated in the Terms and Conditions. The user cannot copy, distribute, transfer, change or hack any content of the app.</p>
          <p>&nbsp;</p>
          <p><strong>DATA PROTECTION AND PRIVACY POLICY.</strong> Personal data and other information relative to the user will be used only in compliance with the privacy policy. Please read carefully the privacy policy attached before proceeding. By downloading the app, the user gives his/her consent to use his/her personal information according to the Privacy Policy, as per the document herewith attached, which is part of the present Terms and Conditions of Use.</p>
          <p>&nbsp;</p>
          <p><strong>RESPONSIBILITIES OF USE.</strong> The user confirms, under his/her own full responsibility, to have carefully examined the functions, the technical and operational modalities, the features and the minimum functional requirements of the app, as well as all the risks attached to its use. The user accepts the aforementioned services without reservation and considers them appropriate to his/her needs.</p>
          <p>Associazione Kosmopolis is removed from any responsibility regarding the choice of the services of the app and its capability to cater to the users’ needs.</p>
          <p>The user authorizes Associazione Kosmopolis to use his/her internet connection and/or his/her mobile connection, as well as to operate on his/her operative systems and/or smartphones/tablets, for the regular functioning of the services of the app.</p>
          <p>&nbsp;</p>
          <p><strong>ACCESS TO THE SERVICES.</strong> The user will use the services of the app in full respect of its characteristics and technical specifications, in compliance with what stated in the Terms and Conditions of Use, as well as with the laws, regulations and customs in force in the field.</p>
          <p>The user will not use the services in an inappropriate way and will promptly notify Associazione Kosmopolis about any possible inappropriate use by third parties he/she may encounter. Finally, the user will facilitate in any possible way Associazione Kosmopolis in executing the services and protect other users from any possible violations of their rights.</p>
          <p>&nbsp;</p>
          <p><strong>USER’S RESPONSIBILITIES.</strong> The user is responsible for the correct and continuous functioning of the internet/mobile connection for the services object of this document. The user is also responsible for the correct and continuous functioning of the devices and/or operative systems he/she owns/uses for the services object of this document. The user responds of the modalities of use of the services object of the Terms and Conditions of Use, and confirms that the data uploaded and/or provided for accessing these services are correct. The user is also in charge of all the control activities indicated in this document, both preliminary and subsequent to any service provided.</p>
          <p>&nbsp;</p>
          <p><strong>EXEMPTION OF RESPONSIBILITIES.</strong> Within the limits of the law, Associazione Kosmopolis does not provide any guarantee, explicit or implicit, about the functioning and use of the app and all the services and products accessed through the app. The user accepts to use the app at his/her own risk and confirms to be the only person responsible for any possible damages that may occur downloading, accessing or using the app (e.g. loss of data).</p>
          <p>Within the limits of the law, Associazione Kosmopolis will not be held responsible by any means for any damage (direct or indirect, special or related), expenses, profit losses or any other damage that may occur to the user in relation to the use of the app.</p>
          <p>&nbsp;</p>
          <p><strong>CHANGES TO THE FUNCTIONING OF THE APP GLOBAL PASSPORT PROJECT.</strong> Associazione Kosmopolis can completely or partially change the format and the contents of the app at any moment, including (but not limited to) deleting some features or functions of the app.</p>
          <p>Associazione Kosmopolis can suspend the functioning of this app, or of some features and functions, for maintenance, with the aim to update the contents or for any other purpose.</p>
          <p>The updates of the app are released through the dedicated platforms and channels. The user may not be able to use the app, or some of its functions, before downloading the latest version and, if need be, accepting the new Terms and Conditions of Use.</p>
          <p>&nbsp;</p>
          <p><strong>TRANSFER OF RIGHTS.</strong> Associazione Kosmopolis can transfer its rights and obligations to any of its subsidiaries or organizations it is part of, in compliance with the present Terms and Conditions of Use. Any act of transfer does not change the obligations of Associazione Kosmopolis.</p>
          <p>&nbsp;</p>
          <p><strong>DURATION.</strong> The use of the app is free, the duration of use is to be considered unlimited, relative to the effective functioning of the app.</p>
          <p>&nbsp;</p>
          <p><strong>SEVERANCE.</strong> Every provision of the clauses or sub-clauses of the present document applies separately. If a court or competent authority decides that some of these provisions are illegal or inapplicable, the other provisions of clauses or subclauses will remain in force.</p>
          <p>&nbsp;</p>
          <p><strong>TERMINATION.</strong> Associazione Kosmopolis has the right, at its own exclusive discretion, to suspend or close the account and/or restrain – even partially – the access to the app or to any function of the app in case of an alleged inappropriate use and/or violation of the Terms and Conditions of Use, without any notification and without any responsibility face to the user.</p>
          <p>After any action of Associazione Kosmopolis based on this clause, the users are not authorized to create a new account to bypass the termination, cancellation or restriction.</p>
          <p>&nbsp;</p>
          <p><strong>CHANGES TO THE TERMS AND CONDITIONS OF USE.</strong> Associazione Kosmopolis has the right to change the Terms and Conditions of Use at any moment and without any notification, the changes becoming effective upon publication of the new Terms and Conditions of Use.</p>
          <p>In case of changes of the Terms and Conditions of Use, the user will be asked to accept the new Terms and Conditions at the moment of the first use after the publication; any subsequent use of the app will imply the explict acceptance of the new Terms and Conditions of Use.</p>
          <p>&nbsp;</p>
          <p><strong>APPLICABLE LAW AND COMPETENT COURT.</strong> The present Terms and Conditions of Use are regulated and will be interpreted in compliance with the Italian law. In case of dispute, the court of Naples (NA, Italy) is the competent authority.</p>
        </div>
      </div>
    </div>
  </div>
</div>
