<ngx-spinner size="default" type="ball-spin-clockwise"><p>{{ 'Please wait...' | translate }} </p></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Back link -->
          <a [routerLink]="['/structures']"><i class="fa fa-chevron-left"></i> {{ 'Back to the structures list' | translate }}</a>

          <!-- Information -->
          <h1 class="mt-4">
            <span *ngIf="uuid">{{ 'Structures - Edit Structure' | translate }}</span>
            <span *ngIf="!uuid">{{ 'Structures - Add Structure' | translate }}</span>
          </h1>
          <p>{{ 'In this section, you can enter the structure’s information.' | translate }}</p>

          <!-- Form -->
          <form #form="ngForm" (ngSubmit)="saveStructure()">
            <!-- Identifier -->
            <div class="form-group md-3">
              <label>{{ 'Name' | translate }}</label>
              <input type="text" name="name" [(ngModel)]="formData.name" id="name" class="form-control" placeholder="{{'Enter the structure name' | translate }}" required>
              <small class="form-text text-muted">{{ 'Enter the structure name.' | translate }}</small>
            </div>

            <!-- Address -->
            <div class="form-group md-3">
              <label>{{ 'Address' | translate }}</label>
              <input type="text" name="address" [(ngModel)]="formData.address" id="address" class="form-control" placeholder="{{'Enter the structure address' | translate }}" required>
              <small class="form-text text-muted">{{ 'Enter the address.' | translate }}</small>
            </div>

            <!-- City -->
            <div class="form-group md-3">
              <label>{{ 'City' | translate }}</label>
              <input type="text" name="city" [(ngModel)]="formData.city" id="city" class="form-control" placeholder="{{'Enter the structure city' | translate }}" required>
              <small class="form-text text-muted">{{ 'Enter the city.' | translate }}</small>
            </div>

            <!-- Icon -->
            <div class="form-group md-3">
              <label>{{ 'Icon' | translate }}</label>
              <select name="icon" [(ngModel)]="formData.icon" id="icon" class="form-control form-control-sm" required>
                <option value="">{{ 'Select' | translate }}</option>
                <option *ngFor="let icon of icons" value="{{icon.idIcon}}">{{icon.name}}</option>
              </select>
              <small class="form-text text-muted">{{ 'Select an icon for the structure.' | translate }}</small>
            </div>

            <!-- E-Mail -->
            <div class="form-group md-3">
              <label>{{ 'E-Mail' | translate }}</label>
              <input type="email" name="email" [(ngModel)]="formData.email" id="email" class="form-control" placeholder="{{'Enter the structure e-mail address' | translate }}" required>
              <small class="form-text text-muted">{{ 'Enter the email address.' | translate }}</small>
            </div>

            <!-- Phone Number -->
            <div class="form-group md-3">
              <label>{{ 'Phone Number' | translate }}</label>
              <div class="row">
                <div class="col-3">
                  <select name="phonePrefix" [(ngModel)]="formData.phonePrefix" id="phonePrefix" class="form-control" required>
                    <option value="">{{ 'Select the country\'s prefix' | translate }}</option>
                    <option *ngFor="let prefix of prefixes" value="{{prefix}}">{{prefix}}</option>
                  </select>
                </div>
                <div class="col-9">
                  <input type="tel" name="phone" [(ngModel)]="formData.phone" id="phone" class="form-control" placeholder="{{'Enter the structure phone number' | translate }}" required>
                </div>
              </div>
              <small class="form-text text-muted">{{ 'Enter the phone number.' | translate }}</small>
            </div>

            <!-- Website -->
            <div class="form-group md-3">
              <label>{{ 'Website' | translate }}</label>
              <input type="text" name="website" [(ngModel)]="formData.website" id="website" class="form-control" placeholder="{{'Enter the structure website' | translate }}" required>
              <small class="form-text text-muted">{{ 'Enter the website (remember to add http or https).' | translate }}</small>
            </div>

            <!-- Change language -->
            <div class="form-group md-3">
              <div dropdown style="position:relative">
                <small>
                  <a href dropdownToggle (click)="false">{{ 'Change language' | translate }}</a>
                  <ul *dropdownMenu class="dropdown-menu">
                    <li *ngFor="let language of languages">
                      <a class="dropdown-item btn pointer" role="button"  (click)="switchTextarea(language.value)">{{language.name}}</a>
                    </li>
                  </ul>
                </small>
              </div>

              <!-- Description -->
              <div class="form-group">
                <div *ngFor="let language of languages; let i = index">
                  <label [hidden]="currentLanguage != language.value">{{ 'Description' | translate }} ({{ language.name }})</label>
                  <textarea [hidden]="currentLanguage != language.value" name="text[{{language.value}}]" [(ngModel)]="formData.text[language.value]" class="form-control" placeholder="{{'Enter a brief description about the structure' | translate }}" rows="5" required></textarea>
                  <small [hidden]="currentLanguage != language.value" class="form-text text-muted">{{ 'Enter a brief description.' | translate }}</small>
                </div>
              </div>
            </div>

            <!-- Map -->
            <div class="form-group md-3">
              <label>{{ 'Map position' | translate }}</label>
              <p *ngIf="loadingCoordinates" class="loading-geocoding">Loading...</p>
              <agm-map [latitude]="formData?.latitude" [longitude]="formData?.longitude" [zoom]="17" [disableDefaultUI]="false" (mapClick)="setStructureMarker($event)">
                <agm-marker [latitude]="formData?.latitude" [longitude]="formData?.longitude"></agm-marker>
              </agm-map>
              <div class="row">
                <div class="col-sm-6"><small> {{ 'Latitude:' | translate }} {{formData.latitude}}</small></div>
                <div class="col-sm-6"><small> {{ 'Longitude:' | translate }} {{formData.longitude}}</small></div>
              </div>
            </div>

            <!-- Delete, find address and save buttons-->
            <div class="row">
              <div class="col-4 text-left">
                <button [hidden]="!uuid" type="button" class="btn btn-danger rounded-0" (click)="modalDelete.show()">{{ 'Delete' | translate}}</button>
              </div>
              <div class="col-4 text-center">
                <button type="button" class="btn btn-primary rounded-0" (click)="findStructureAddress()">{{ 'Find Address' | translate}}</button>
              </div>
              <div class="col-4 text-right">
                <button type="submit" class="btn btn-primary rounded-0">{{ 'Save' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Categories -->
  <div *ngIf="uuid" class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <div class="form-group md-3">
            <h4>{{ 'Categories' | translate }}</h4>
            <div *ngFor="let category of structureCategories; let i = index">
              <label class="pointer mr-2 chips" [ngClass]="{ 'selected': category.value }">
                <input (change)="setStructureCategoryStatus(category.idCategory, category.value, category.idStructureCategory)" [checked]="category.value" type="checkbox" [value]="category.idCategory"> {{category.identifier}}
                <i class="fa fa-close"></i>
              </label>
            </div>
            <small class="form-text text-muted clear-both">{{ 'Select the categories for the structure.' | translate }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Gallery -->
  <div *ngIf="uuid" class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4>{{ 'Gallery' | translate}}</h4>
              <div class="gallery-container">
                <div *ngIf="structureImageSrc" class="gallery-image p-1" [ngStyle]="{'background': 'url(' + _d.bypassSecurityTrustUrl(structureImageSrc) + ') no-repeat 0 0 / cover'}"></div>
                <div *ngFor="let image of structureImages" class="gallery-image p-1" [ngStyle]="{'background': 'url(\'' + imagesPath + '/galleries/structures/' + image.folder + '/'+image.filename+ '\') no-repeat 0 0 / cover'}">
                  <i class="fa fa-close pointer text-white" (click)="structureImageAskDelete(image.idStructureImage)"></i>
                </div>
              </div>
              <div [hidden]="structureImages.length">{{ 'There are no images for this structure. To add a new image, click on \'Add Image\'.' | translate}}</div>
            </div>
            <div class="col-sm-12 mt-3">
              <div class="text-right">
                <form [formGroup]="uploadForm" (ngSubmit)="structureImageSubmit()">
                  <label for="file-upload" class="custom-file-upload btn btn-primary rounded-0 pointer">
                    {{ 'Add Image to Gallery' | translate }}
                  </label>
                  <input name="profile" id="file-upload" type="file" (change)="structureImageSelect($event)"/>
                  <button type="submit" id="upload-submit" class="btn btn-primary rounded-0">{{ 'Save' | translate}}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal info message -->
<div bsModal #modalInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInfoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Structure saved' | translate }}</h4>
        <button type="button" class="close" (click)="modalInfo.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'The information has been saved.' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalInfo.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete message -->
<div bsModal #modalDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Delete structure' | translate }}</h4>
        <button type="button" class="close" (click)="modalDelete.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Are you sure you want to delete this structure?' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteStructure(uuid)">{{ 'Delete' | translate }}</button>
        <button type="button" class="btn btn-secondary" (click)="modalDelete.hide()">{{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete image message -->
<div bsModal #modalDeleteImage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteImageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Delete image' | translate }}</h4>
        <button type="button" class="close" (click)="modalDeleteImage.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Are you sure you want to delete this image?' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="structureImageDelete(idStructureImageDelete)">{{ 'Delete' | translate }}</button>
        <button type="button" class="btn btn-secondary" (click)="modalDeleteImage.hide()">{{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal entering data error -->
<div bsModal #modalError="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ messageError.title }}</h4>
              <button type="button" class="close" (click)="modalError.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>{{ messageError.description }}</p>
              <ul>
                  <li *ngFor="let errorDescription of errorsDescriptions">{{ errorDescription }}</li>
              </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalError.hide()">{{ 'Close' | translate }}</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
