<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Information -->
          <h1 class="mt-4">{{ 'Structures - List' | translate }}</h1>
          <p>{{ 'In questa sezione è possibile gestire le strutture da visualizzare nell\'applicazione.' | translate }}</p>
          <p>{{ 'Seleziona \'Add Structure\' per aggiungere una nuova struttura, oppure selezionane una dall\'elenco per modificarla.' | translate }}</p>

          <!-- Search form -->
          <form #form="ngForm">
            <div class="input-group mb-3">
                <input type="text" (keyup)="onKey()" class="form-control" name="search" [(ngModel)]="formData.search"  placeholder="{{ 'Enter a search term' | translate }}" required>
                <div class="input-group-append">
                  <button class="btn btn-primary rounded-0" type="submit">{{ 'Search' | translate }}</button>
                </div>
                <button class="btn btn-primary ml-3 rounded-0" type="button" [routerLink]="['/structure-details']">{{ 'Add Structure' | translate }}</button>
            </div>
          </form>

          <!-- Countries list -->
          <div class="table-responsive">
            <table class="table table-hover" *ngIf='show_structures.length'>
              <thead>
                <th class="text-center">{{ 'Icon' | translate }}</th>
                <th>{{ 'Name' | translate }}</th>
                <th>{{ 'Address' | translate }}</th>
                <th>{{ 'E-Mail' | translate }}</th>
              </thead>
              <tbody>
                <tr class="pointer" *ngFor="let structure of show_structures" (click)="doOpen(structure.idStructure)">
                  <td class="text-center">
                    <img class="icon-list" [src]="structure.iconimage">
                  </td>
                  <td>{{structure.structurename}}</td>
                  <td>{{structure.address}} - {{structure.city}}</td>
                  <td>{{structure.email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-danger" *ngIf="!show_structures.length"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>