<ngx-spinner size="default" type="ball-spin-clockwise">
  <p>{{ 'Please wait...' | translate }}
    <span *ngIf="action_delete">
      <br>{{ 'Deletion in progress.'}}
      <br>{{ current_delete }} {{ 'of' | translate }} {{ total_delete }}</span><br>
  </p></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Information -->
          <h1 class="mt-4">{{ 'Structures - List' | translate }}</h1>
          <div class="pull-right">
            <button class="btn btn-primary ml-3 rounded-0" type="button" (click)="openImport()"><i class="fa fa-upload"></i> {{ 'Import' | translate }}</button>
            <button class="btn btn-primary ml-3 rounded-0" type="button" (click)="openExport()"><i class="fa fa-download"></i> {{ 'Export' | translate }}</button>
          </div>
          <p>{{ 'In this section you can manage the structures to be displayed in the application.' | translate }}</p>
          <p>{{ 'Select \'Add Structure\' to add a new structure, or select one from the list to edit it.' | translate }}</p>

          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="input-group mb-3">
              <select name="phonePrefix" [(ngModel)]="formSearch.phonePrefix" id="phonePrefix" class="form-control select-max-210">
                <option value="">{{ 'Select a country\'s prefix' | translate }}</option>
                <option *ngFor="let prefix of prefixes" value="{{prefix}}">{{prefix}}</option>
              </select>
                <input type="text" class="form-control" name="city" [(ngModel)]="formSearch.city"  placeholder="{{ 'Enter a city name' | translate }}">
                <div class="input-group-append">
                  <button class="btn btn-primary rounded-0" type="submit">{{ 'Search' | translate }}</button>
                </div>
            </div>
          </form>
          <hr>
          <!-- Search form -->
          <form #Filterform="ngForm">
            <div class="input-group mb-3">
                <input type="text" (keyup)="filterStructures()" class="form-control" name="search" [(ngModel)]="formFilter.search"  placeholder="{{ 'Enter a search term' | translate }}" required>
                <div class="input-group-append">
                  <button class="btn btn-primary rounded-0" type="submit">{{ 'Filter' | translate }}</button>
                </div>
                <button class="btn btn-primary ml-3 rounded-0" type="button" [routerLink]="['/structure-details']">{{ 'Add Structure' | translate }}</button>
            </div>
          </form>

          <!-- Countries list -->
          <div class="table-responsive">
            <table class="table table-hover" *ngIf='filteredStructures.length'>
              <thead>
                <th></th>
                <th class="text-center">{{ 'Icon' | translate }}</th>
                <th>{{ 'Name' | translate }}</th>
                <th>{{ 'Address' | translate }}</th>
                <th>{{ 'E-Mail' | translate }}</th>
              </thead>
              <tbody>
                <tr class="pointer" *ngFor="let structure of filteredStructures">
                  <td><label class="checkbox-container"><input type="checkbox" class="form-checkbox" [(ngModel)]="structure.isChecked" (change)="changeSelection()"></label></td>
                  <td class="text-center" (click)="structureDetails(structure.idStructure)">
                    <img class="icon-list" [src]="'data:image/png;base64,' + structure.iconimage">
                  </td>
                  <td (click)="structureDetails(structure.idStructure)">{{structure.structurename}}</td>
                  <td (click)="structureDetails(structure.idStructure)">{{structure.address}} - {{structure.city}}</td>
                  <td (click)="structureDetails(structure.idStructure)">{{structure.email}}</td>
                </tr>
              </tbody>
              <tfoot *ngIf='checkedIDs.length'>
                <tr>
                  <td colspan="10"><button class="btn btn-danger rounded-0" type="button" (click)="deleteMultiple()" >{{ 'Delete' | translate }}</button></td>
                </tr>
              </tfoot>
            </table>
          </div>

          <!-- Alert no organization selected -->
          <div *ngIf="this.idOrganization==='' && this.permissions.includes('OrganizationStructuresManagement')" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ 'Select or create a new organization before using this section.' | translate }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal export -->
<div bsModal #modalExport="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExportLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Export Structures' | translate }}</h4>
        <button type="button" class="close" (click)="modalExport.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="!filename">{{ 'Click on Confirm to Export structures.' | translate }}</p>
        <p *ngIf="filename">{{ 'Click on following link to download structures export.' | translate }}<br><a [href]="filename" download>Download</a></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalExport.hide()">{{ 'Close' | translate }}</button>
        <button *ngIf="!filename" type="button" class="btn btn-primary" (click)="ExportStructures()">{{ 'Confirm' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal import -->
<div bsModal #modalImport="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalImportLabel" aria-hidden="true">
  <form [formGroup]="uploadForm" (ngSubmit)="ImportStructures()">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Import Structures' | translate }}</h4>
        <button type="button" class="close" (click)="modalImport.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Select the file to import the structures.' | translate }}<br><small>{{ '(Only .xlsx allowed)'}}</small></p>
        <input name="profile" id="file-upload" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="fileSelect($event)"/>
        <div class="import-response-container">
          <div [class]="'import-response-content text' + importResponseColor" [innerHTML]="importResponseMessage"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalImport.hide()">{{ 'Close' | translate }}</button>
        <button type="submit" id="upload-submit" class="btn btn-primary">{{ 'Confirm' | translate }}</button>
      </div>
    </div>
  </div>
</form>
</div>
