// Here you can add other styles
.pointer { cursor: pointer; }

.navbar-nav .open > .nav-link, .navbar-nav .open > .nav-link:hover, .navbar-nav .open > .nav-link:focus, .navbar-nav .active > .nav-link, .navbar-nav .active > .nav-link:hover, .navbar-nav .active > .nav-link:focus, .navbar-nav .nav-link.open, .navbar-nav .nav-link.open:hover, .navbar-nav .nav-link.open:focus, .navbar-nav .nav-link.active, .navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.active:focus {
  color: #FFF;
}
ngx-spinner { background-color: rgba(51, 51, 51, 0.8); }
ngx-spinner p { color: #FFF; }
.loading-text { top: calc(50% + 45px) !important; }
