<ngx-spinner size="default" type="ball-spin-clockwise"><p>{{ 'Please wait...' | translate }} </p></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Back link -->
          <a [routerLink]="['/categories']"><i class="fa fa-chevron-left"></i> {{ 'Back to the categories list' | translate }}</a>

          <!-- Form -->
          <form  #form="ngForm" (ngSubmit)="saveCategory()">
            <!-- Information -->
            <h1 class="mt-4">
              <span *ngIf="uuid">{{ 'Categories - Edit' | translate }}</span>
              <span *ngIf="!uuid">{{ 'Categories - Add' | translate }}</span>
            </h1>
            <p>{{ 'In this section you can specify the category information.' | translate }}</p>

            <!-- Identifier -->
            <div class="form-group md-3">
              <label>{{ 'Identifier' | translate }}</label>
              <input type="text" name="identifier" [(ngModel)]="formData.identifier" id="identifier" class="form-control" placeholder="{{'Enter the category identifier' | translate }}" required maxlength="50">
              <small class="form-text text-muted">{{ 'Enter the category name in the reference language.' | translate }}</small>
            </div>

            <div class="form-group md-3">
              <!-- Change language -->
              <div dropdown style="position:relative">
                <small>
                  <a href dropdownToggle (click)="false">{{ 'Change language' | translate }}</a>
                  <ul *dropdownMenu class="dropdown-menu">
                    <li *ngFor="let language of languages">
                      <a class="dropdown-item btn pointer" role="button"  (click)="switchTextarea(language.value)">{{language.name}}</a>
                    </li>
                  </ul>
                </small>
              </div>

              <!-- Name (language) -->
              <div *ngFor="let language of languages; let i = index">
                <label [hidden]="currentLanguage != language.value"> {{ 'Category' | translate }} ({{ language.name }})</label>
                <div [hidden]="currentLanguage != language.value">
                  <input name="title[{{language.value}}]" [(ngModel)]="formData.title[language.value]" class="form-control" placeholder="{{'Enter the category name' | translate }}" maxlength="50">
                </div>
                <small [hidden]="currentLanguage != language.value" class="form-text text-muted">{{ 'Enter the name of the category in the various languages (to change language select \'Change Language\')' | translate }}</small>
              </div>
            </div>

            <!-- Delete and save buttons-->
            <div class="row">
              <div class="col-6 text-left">
                <button [hidden]="!uuid" type="button" class="btn btn-danger rounded-0" (click)="modalDelete.show()">{{ 'Delete' | translate}}</button>
              </div>
              <div class="col-6 text-right">
                <button type="submit" class="btn btn-primary rounded-0">{{ 'Save' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete message -->
<div bsModal #modalDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Delete category' | translate }}</h4>
        <button type="button" class="close" (click)="modalDelete.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Are you sure you want to delete the current category?' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteCategory(uuid)">{{ 'Delete' | translate }}</button>
        <button type="button" class="btn btn-secondary" (click)="modalDelete.hide()">{{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal entering data error -->
<div bsModal #modalError="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ messageError.title }}</h4>
              <button type="button" class="close" (click)="modalError.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>{{ messageError.description }}</p>
              <ul>
                  <li *ngFor="let errorDescription of errorsDescriptions">{{ errorDescription }}</li>
              </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalError.hide()">{{ 'Close' | translate }}</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
