<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Information -->
          <h1 class="mt-4">{{ 'Icons - List' | translate }}</h1>
          <p>{{ 'In this section it is possible to manage the icons used in the app.' | translate }}</p>
          <p>{{ 'Click on \'Add Icon\' to add a new icon, or select one from the list to modify it.' | translate }}</p>

          <!-- Search form -->
          <form #form="ngForm">
            <div class="input-group mb-3">
                <input type="text" (keyup)="filterIcons()" class="form-control" name="search" [(ngModel)]="formSearch.search"  placeholder="{{ 'Enter a search term' | translate }}" required>
                <div class="input-group-append">
                  <button class="btn btn-primary rounded-0" type="submit">{{ 'Search' | translate }}</button>
                </div>
                <button class="btn btn-primary ml-3 rounded-0" type="button" [routerLink]="['/icon-details']">{{ 'Add Icon' | translate }}</button>
            </div>
          </form>

          <!-- Icons list -->
          <div class="table-responsive">
            <table class="table table-hover" *ngIf='filteredIcons.length'>
              <thead>
                <th>{{ 'Name' | translate }}</th>
                <th class="text-center">{{ 'Icon' | translate }}</th>
                <th class="text-center">{{ 'Marker' | translate }}</th>
              </thead>
              <tbody>
                <tr class="pointer" *ngFor="let icon of filteredIcons" (click)="iconDetails(icon.idIcon)">
                  <td>{{icon.name}}</td>
                  <td class="text-center">
                    <img class="icon-list" [src]="'data:image/png;base64,' + icon.image">
                  </td>
                  <td class="text-center">
                    <img class="marker-list" [src]="'data:image/png;base64,' + icon.marker">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-danger" *ngIf="!filteredIcons.length"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>