<ngx-spinner size="default" type="ball-spin-clockwise"><p>{{ 'Please wait...' | translate }} </p></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8 mx-auto">
      <div class="card mt-4">
        <div class="card-body">
          <!-- Back link -->
          <a [routerLink]="['/countries']"><i class="fa fa-chevron-left"></i> {{ 'Back to the countries list' | translate }}</a>

          <!-- Form -->
          <form  #form="ngForm" (ngSubmit)="saveTopic()">
            <!-- Information -->
            <h1 class="mt-4">{{ 'Countries - Topic' | translate }} ({{country.identifier }})</h1>
            <p>{{ 'In this section you can enter information about the country divided by topic.' | translate }}</p>
            <p>{{ 'Select the \'Add Topic\' button to add a new topic or \'Delete\' to remove it.' | translate }}</p>
            <p>{{ 'Remember to select the \'Save\' button after entering all the information.' | translate }}</p>

            <div class="row" *ngFor="let topic of formData; let counter = index">
              <div class="col-md-12">
                <!-- Topic counter -->
                <h4>{{ 'Topic: ' | translate }} {{counter + 1}}</h4>

                <!-- Change language -->
                <div dropdown style="position:relative">
                  <small>
                    <a href dropdownToggle (click)="false">{{ 'Change language' | translate }}</a>
                    <ul *dropdownMenu class="dropdown-menu">
                      <li *ngFor="let language of languages">
                        <a class="dropdown-item btn pointer" role="button"  (click)="switchTextarea(language.value, counter)">{{language.name}}</a>
                      </li>
                    </ul>
                  </small>
                </div>

                <div class="form-group">
                  <div *ngFor="let language of languages; let i = index">
                    <!-- Topic title -->
                    <label [hidden]="topic.lang != language.value">{{ 'Topic title' | translate }} {{counter + 1}} ({{language.name}})</label>
                    <div class="input-group mb-3" [hidden]="topic.lang != language.value">
                      <input type="text" name="title[{{counter}}][{{language.value}}]" [(ngModel)]="topic.title[language.value]" class="form-control" placeholder="{{'Enter topic title' | translate }}" maxlength="100">

                      <!-- Delete button -->
                      <button type="button" class="btn btn-danger rounded-0" (click)="showDeleteMessage(counter, topic.id)">{{ 'Delete' | translate}}</button>
                    </div>
                    <small [hidden]="topic.lang != language.value" class="form-text text-muted info-field">{{ 'Specify the topic title in each language.' | translate }}</small>

                    <!-- Topic description -->
                    <label style="margin-top: 10px;" [hidden]="topic.lang != language.value">{{ 'Topic description' | translate }} {{counter+1}} ({{language.name}})</label>
                    <div class="input-group mb-3" [hidden]="topic.lang != language.value">
                      <textarea name="text[{{counter}}][{{language.value}}]" [(ngModel)]="topic.text[language.value]" class="form-control" placeholder="{{'Enter topic description' | translate }}" rows="5" required></textarea>
                    </div>
                    <small [hidden]="topic.lang != language.value" class="form-text text-muted info-field">{{ 'Enter the description of the topic for each language.' | translate }}</small>
                    <hr [hidden]="topic.lang != language.value" />
                  </div>
                </div>
              </div>
            </div>

            <!-- Add topic and save buttons -->
            <div class="row">
              <div class="col-6 text-left">
                <button type="button" class="btn btn-primary rounded-0" (click)="addEmptyTopic()">{{ 'Add Topic' | translate}}</button>
              </div>
              <div class="col-6 text-right">
                <button type="submit" class="btn btn-primary rounded-0">{{ 'Save' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal info message -->
<div bsModal #modalInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInfoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Topic saved' | translate }}</h4>
        <button type="button" class="close" (click)="modalInfo.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Topic has been saved.' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalInfo.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete message -->
<div bsModal #modalDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Delete topic' | translate }}</h4>
        <button type="button" class="close" (click)="modalDelete.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Are you sure you want to delete the current topic?' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteTopic()">{{ 'Delete' | translate }}</button>
        <button type="button" class="btn btn-secondary" (click)="modalDelete.hide()">{{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal entering data error -->
<div bsModal #modalError="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ messageError.title }}</h4>
              <button type="button" class="close" (click)="modalError.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>{{ messageError.description }}</p>
              <ul>
                  <li *ngFor="let errorDescription of errorsDescriptions">{{ errorDescription }}</li>
              </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalError.hide()">{{ 'Close' | translate }}</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal exception error -->
<div bsModal #modalException="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExceptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ messageException.name }}</h4>
        <button type="button" class="close" (click)="modalException.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Status: </b>{{ messageException.statusText }} ({{ messageException.status }})</p>
        <p><b>Description: </b>{{ messageException.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalException.hide()">{{ 'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
